<link rel="import" href="../../polymer/polymer.html">
<link rel="import" href="../multi-config-behavior.html">
<script>
/**
 * `multiShaper` behavior takes data as input and shape them for easier handling in charts.an example is d3.stack that build a matrix of x,y coordinates
 * @polymerBehavior Polymer.multiShaper
 */

'use strict';

  Polymer.multiShaperImpl = {

    properties: {

      shaper: {
        type: Function,
        value: function() {
          //identity function by default
          return function(x) {
            return x;
          };
        }

      },

      /**
       * `series` the series for the chart
       */
      series: {
        type: Array
      },

      /**
       * `data` the result of the shaper function when initial data is passed
       */
      data: {
        type: Array,
        notify: true
      },

      /**
       * `shapedData` the result of the stack function
       */

       /**
       * `isActive` set to false to inactivate this component. It will remove visual elements and inactivate its functionality.
       */
      isActive: {
        type: Boolean,
        readOnly: true,
        value: true
      },

      /**
       * `shallRegister` is a flag to know if this element need to be registered when it is added to a chart-container
       */
      shallRegister: {
        type: Boolean,
        readOnly: true,
        value: true
      },

      /**
       * `isDrawn` flag to know if this element is drawn. 
       */
      isDrawn: {
        type: Boolean,
        readOnly: true
      },


    },

    preDraw: function(host, data,duration) {
       this.computeData(data);
    },

    computeData: function(data) {
      return this.data = this.shaper(data);
    },

    onRefresh: function(data) {
      this.debounce('refreshing', function() {
        this.computeData(data);
        // this.__observeData(data);// this._setShapedData(this.__computeData(data));
        if(this.domHost) {this.domHost.fire('multi-refresh')};
      }, 10);
    },


  };

  Polymer.multiShaper = [
    Polymer.multiConfig,
    Polymer.multiShaperImpl
  ];

</script>
