<!DOCTYPE html>
<meta charset="utf-8">
<title>Universe</title>
<style>
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700);
body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

aside {
  position: absolute;
  left: 740px;
  font-size: smaller;
  width: 220px;
}
</style>
<div id="body">
  <h1>D3 Charts</h1>
  <h2>trying out chart plugin</h2>
  <svg id="chart" width="700" height="400">
    <g id="content"></g>
  </svg>


</div>
<script src="../../d3/d3.v4.js" type="text/javascript" charset="utf-8"></script>
<script src="../../d3-chart-layout/build/d3-chart-layout.js" type="text/javascript" charset="utf-8"></script>
<script src="chart-test.js" type="text/javascript" charset="utf-8"></script>
